<% layout('layouts/boilerplate') %>
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="m-3 col-6">
        <h1>Login</h1>
        <form action="/login" method="POST" class="needs-validation" novalidate>
    <div class="mb-3">
        <label for="username" class="form-label">Username:</label>
        <input type="text" class="form-control" id="username" name="username" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" class="form-control" id="password" name="password" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <button class="btn btn-success" type="submit">Submit</button>
</form>
</div>
</div>